.form-container {
	max-width: 350px;
	margin: 0 auto;
  border: grey solid 1px;
  margin-top: 145px;
	margin-bottom: 100px;
	background-color: mintcream;
  padding: 15px;
}

.form-container h1 {
	text-align: center;
	color: grey;
}
.field-group {
	margin-bottom: 10px;
}
.access-form {
	overflow: hidden;
	padding: 20px;
}
.access-form label {
	font-size: 20px;
	margin-bottom: 5px;
	display: inline-block;
}
.field-group input {
	width: 100%;
  border: 1px solid grey;
  padding: 8px 38px 8px 8px;
}
.remember-me {
	text-align: left;
}
.remember-me input {
	width: auto;
}
.alert-hide {
	color: rgb(239, 76, 39);
	font-size: 14px;
	margin-top: 5px;
  text-align: left;
}
.access-form button {
	font-size: 16px;
  background-color: #18BC9C;
  border: none;
  color: #fff;
  text-transform: capitalize;
  width: 40%;
  padding: 8px 14px;
  border-radius: 10px;
	cursor: pointer;
}

/* A partir de aca era contact css que abarcaba el form de contacto y de login */

.container {
  text-align: left;
  margin-top: 120px;
  padding: 30px;
  margin-bottom: 50px;
  background-color: mintcream;
  border: 1px solid grey;
}

.errorForm  {
  color: red;
}

.form-control {
  text-align: start;
}

.btn-success {
  background-color: #18BC9C;
  border: none;
}

.btn-success:hover {
    color: #fff;
    background-color: #18BC9C;
    opacity: 0.75;
}

.sin-archivo {
  max-width: 265px;
}

.product-img {
  width: 200px;
}

.talles {
	display: flex;
	justify-content: space-between;
}

.boton-label {
  background-color: rgb(24, 188, 156);
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
	display: inline-block;
  font-weight: 400;
  color: white;
	cursor: pointer;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.boton-label:hover {
    color: #fff;
    background-color: #218838;
    border-color: #1e7e34;
}

img.avatar {
  width: 150px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.flex {
	display: flex;
	justify-content: space-evenly;
	text-align: center;
}

button.eliminar-imagen {
	overflow: visible;
	width: auto;
  background: none;
	margin: 0;
	padding: 0;
	border: none;
  position: relative;
	cursor: pointer;
  -moz-user-select: text;
	border-radius: 50px;
	width: 23px;
	background-color: red;
	color: white;
	top: -269px;
  left: 94px;
}

.sin-archivo {
    max-width: 265px;
}

.subir{
    padding: 5px 10px;
		color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
		border-radius: .25rem;
}

.subir:hover{
    color:black;
		/* background-color: #cdcecf; */
		opacity: 0.75;
}

@media (min-width: 768px) {

  .sin-archivo {
    max-width: 100%;
  }

}

	@media (max-width: 768px) {

	.flex {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		text-align: center;
	}
}
