/* Header */

.bg-light {
  background-color: #18BC9C!important;
}

.logo {
  width: 100%;
  border-radius: 50px;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10000;
  box-shadow: 0px 0px 5px 0px black;
}

.navbar-brand {
  padding: 0;
  margin: 0;
  width: 80px;
}

.navbar-toggler {
  border: none;
  padding: 0;
  margin: 0;
}

.barra {
  justify-content: space-between;
}

.navbar-collapse {
  text-align: center;
}

.dropdown-productos {
  color: rgba(0,0,0,.5);
}

.dropdown-item:hover {
  font-weight: 600;
}

.dropdown-menu.show {
  display: block;
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translateX(-50%);
}

ul.usuario {
  background-color: #ffffff36;
}

.cerrar-sesion-responsive {
    text-align: -webkit-center;
}

button.nav-link {
	overflow: visible;
	width: auto;
  background: none;
	margin: 0;
	padding: 0;
	border: none;
  position: relative;
  top: 8px;
	cursor: pointer;
  -moz-user-select: text;
}

/* Para hacer que un boton parezca un link (etiqueta a)https://blog.natbat.net/post/46614475051/styling-buttons-as-links */


@media (min-width: 993px) {  /* Esto es para que se oculten los link del menu y aparezca el menu hamburguesa */
  .navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox!important;
    display: flex!important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
  }

  .navbar-expand-lg .navbar-toggler {
    display: none;
    z-index: 10000;
  }

}
