/* Main */
main {
  margin-top: 45px;
}

/* Section Imagenes Parallax */

body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.section {
  text-align:center;
  padding:50px 80px;
}

.section-light{
  background-color:#f4f4f4;
  color:#666;
}

.pimg1, .pimg2, .pimg3{
  position:relative;
  /* opacity:0.70; */
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment:fixed;
}

.pimg1{
  background-image: url('../img/clothes.jpeg');
  min-height: 100vh;
  background-attachment:scroll;
}

.pimg2{
  background-image: url('../img/clothes2.jpeg');
  min-height: 400px;
  background-attachment:scroll;
}

.pimg3{
  background-image: url('../img/bannerMobileDeal.png');
  min-height: 470px;
  background-attachment:scroll;
}

.ptext{
  position:absolute;
  top:35%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext2{
  position:absolute;
  top:88%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.texto-parallax{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .texto-parallax.trans{
  background-color:transparent;
}

.twoLabels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wide {
  width: 60%;
}

span a {
  color: #fff;
}

/* Section banner-inicio */

div.banner-inicio {
  position: relative;
  margin-top: 10px;
  padding-bottom: 5px;
  display: none;
}

img.img-banner {
  display: none;
}


img.img-bannerMobile {
  width: 100%;
  display: block;
}

a.ordena-ahora {
  display: none;
  background-color: rgba(0, 0, 0, 0.32);
  opacity: 1;
  z-index: 1000;
}

/* Section Productos */

.img-productos {
  width: 100%;
  padding: 5px 0px;
}

section.productos {
  padding: 40px;
}

section.productos h3 {
  font-style: oblique;
  font-size: 15px;
  color: grey;
}

div.producto {
  position: relative;
}

.padding {
  padding-bottom: 20px;
  padding-top: 20px;

}

p.descripcion {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}

a.ordenar {
  color: white;
  margin: 0 auto;
  padding: 4px 8px;
  width: 96px;
  display: block;
  background-color: grey;
}

a.ordenar:hover {
  opacity: .7;
  color: white;
}

.precio {
  font-weight: 600;
}

.descuento {
  padding-top: 10px;
  position: absolute;
  right: -16px;
  top: -20px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  color: white;
  line-height: 15px;
  background-color: red;
  border-radius: 50px;
}

.precioAnterior {
  font-weight: 600;
  text-decoration: line-through;
  color: red;
  padding-right: 6px;
}

/* Media queries */

/* Cuando la resolucion sea mayor o igual a 425 va a pasar lo siguiente */
@media (min-width: 425px) {


  .ptext {
    top: 43%;
  }

  .twoLabels {
    display: inline-block;
  }

  .wide {
    width: 100%;
  }

  .padre {
    display: none;
  }

}

/* Cuando la resolucion sea mayor o igual a 768 va a pasar lo siguiente */
@media (min-width: 768px) {


/* Main */

main {
  margin-top: 59px;
}

  div.banner-inicio {
    display: block;
  }

  img.img-banner {
    display: block;
    width: 100%;
  }

  img.img-bannerMobile {
    display: none;
  }

  a.ordena-ahora {
    position: absolute;
    display: block;
    color: white;
    right: 0px;
    bottom: 5px;
    padding: 10px;
  }

  .pimg3{
    background-image: url('../img/specialdeal.jpeg');
  }

  .ptext2{
    position:absolute;
    top:82%;
    right: 29%;
    width:100%;
    text-align:center;
    color:#000;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
  }

}
/* Cuando la resolucion sea mayor o igual a 1024 va a pasar lo siguiente */
@media (min-width: 1024px) {

/* Main */

  main {
    margin-top: 95px;
  }

/* Section banner-inicio */

  a.ordena-ahora {
    position: absolute;
    font-size: 23px;
    display: block;
    color: white;
    right: 0px;
    bottom: 5px;
    padding: 10px;
  }

  img.img-banner {
    display: block;
  }

  img.img-bannerMobile {
    display: none;
  }

}
