.container {
  margin-top: 100px;
}

section.producto {
  padding: 20px;
}

.imagen-producto {
  width: 100%;
}

.carrousel-img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.imagen-producto-peque {
  width: 100px;
}

.productos-relacionados {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.ordenar {
  display: flex;
  justify-content: left;
}

.filaUno {
  display: flex;
  justify-content: space-between;
}

.filaDos {
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.filaTres {
  justify-content: left;
}

.filaCuatro {
  justify-content: space-around;
}

.filaCinco {
  text-align: justify;
}

.filaSeis {
  text-align: justify;
}

.filaSiete{
  text-align: left;
}

.compartirEnRedes {
  display: flex;
  justify-content: center;
}

div .row div {
  margin-top: 10px;
}

.talles {
  width: 47px;
  height: 26px;
  margin: 0px 8px
}

.cantidad {
  width: 47px;
  height: 26px;
  margin: 0px 8px
}

.disponibilidad {
  line-height: 50px;
  font-size: 10px;
  width: 50px;
}

.tipo {
  font-style: oblique;
  font-size: 15px;
  color: grey;
}

.precio {
  font-weight: 600;
  font-size: 18px;
}

.descuento {
  padding-top: 10px;
  position: absolute;
  right: -16px;
  top: -20px;
  width: 50px;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  display: table;
  color: white;
  line-height: 15px;
  background-color: red;
  border-radius: 50px;
}

.precioAnterior {
  font-weight: 600;
  text-decoration: line-through;
  color: red;
  padding-right: 6px;
  font-size: 18px;
}

/* para persistir las flechitas del input number sin necesidad de hacerle hover */
input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}
