/* SocialBar */

div.socialBar {
	position: fixed;
	left: 0;
	top:200px;
	z-index:2000;
}

div.socialBar ul {
	list-style:none;
  padding: 0;
}

div.socialBar ul li a {
	display:inline-block;
	color: #fff;
	background: #000;
	padding:10px 15px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

.socialBar ul li .icon-facebook {background:#3b5998;}
.socialBar ul li .icon-instagram {background:#fb3958;}
.socialBar ul li .icon-mail {background:#dd4b39;}
.socialBar ul li .icon-phone {background:#056463;}
.socialBar ul li .icon-whatsapp {background:#25d366;}

div.socialBar ul li a:hover {
  padding: 10px 30px;
}



/* Media queries */

@media (min-width: 768px) {

  .socialBar ul li a {
    padding: 7px 10px;
  }

}

@media (min-width: 1024px) {

  .socialBar ul li a {
    display:inline-block;
    color: #fff;
    background: #000;
    padding:10px 15px;
    text-decoration: none;
  }

}


@media (max-width: 425px){

	div.socialBar {
		top: auto !important;
	  bottom: 0;
	  text-align: center;
	  width: 100%;
	}

	div.socialBar ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    margin: 0;
    display: flex;
}

	.padre {
		background-color: rgba(0, 0, 0, 0.1);
		height: 44px;
		width: 100%;
}
