*
!.gitignore
!admin.png
!campera1a.jpg
!campera1b.jpg
!camisa2a.jpg
!camisa2b.jpg
!accesorio8a.jpg
!accesorio8b.jpg
!accesorio5a.jpg
!accesorio5b.jpg
!jean10a.jpg
!jean10b.jpg
!jean8a.jpg
!jean8b.jpg
!remera3a.jpg
!remera3b.jpg
!remera2a.jpg
!remera2b.jpg
!buzo5a.jpg
!buzo5b.jpg
!buzo9a.jpg
!buzo9b.jpg
